<div>
    <h1>Takmicari</h1>

    <form>
        <table>
            <tr>
                <td>Ime i prezime:</td>
                <td><input type="text" name='first-last-name' [(ngModel)]='name'></td>
            </tr>
            <tr>
                <td>Zemlja:</td>
                <td>
                    <select>
                        <option>Sve zemlje</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sport:</td>
                <td>
                    <select>
                        <option>Svi sportovi</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Disciplina:</td>
                <td>
                    <select>
                        <option>Sve sportske discipline</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Pol</td>
                <td>
                    <input type="radio" /> M
                </td>
                <td>
                    <input type="radio" /> Z
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox"> samo osvajaci medalja
                </td>
            </tr>
            <tr>
                <button (click)='searchParticipants()'>Pretrazi</button>
            </tr>

        </table>
    </form>
</div>