<h1>Dodaj sport</h1>

<form>
    <div class="form-group">
      <label for="sport">Naziv sporta</label>
      <input type="text" class="form-control" name="sport" [(ngModel)]='selectedSportName'>
    </div>
    <div class="form-group">
        <label for="discipline">Naziv sportske discipline</label>
        <input type="text" class="form-control" name="discipline" [(ngModel)]='selectedDisciplineName'>
    </div>
    <div class="form-group">
        <label for="type-select-group">Vrsta sporta</label>
        <select class="form-control" name="type-select-group" [(ngModel)]="selectedType">
            <option [value]="'team'">Ekipni</option>
            <option [value]="'individual'">Individualni</option>
        </select>
    </div>
    <div *ngIf="selectedType == 'team'" class="form-group">
        <label for="min-players-select">Minimalni broj igraca</label>
        <input  class="form-control" type="number" name='min-players-select' [(ngModel)]="selectedMinPlayers">
    </div>
    <div *ngIf="selectedType == 'team'" class="form-group">
        <label for="min-players-select">Maksimalni broj igraca</label>
        <input  class="form-control" type="number" name='max-players-select' [(ngModel)]="selectedMaxPlayers">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addSport()">Dodaj sport</button>
</form>
