* {
    margin:0;
    padding:0;
} 

html, body {
    height: 100%;
}
   
body {
    height:100%; 
    margin:0px; 
    padding:0px;
}
   
#wrap {
    min-height: 100%;
}
   
#my-container {
    overflow:auto;
    padding-bottom: 150px;
    text-align:left;
    width:800px;
    margin:auto;
}
   
#footer {
    position: relative;
    clear:both;
    height:150px;
    margin-top: -150px;
    background: green;
}
   