<h1>Unos rasporeda i rezultata</h1>

<form>
    <div class="form-group">
        <label for="sport-select">Takmičenje</label>
        <select class="form-control" name='sport-select' [(ngModel)]="selectedCompetition" (change)="onCompetitionSelectChange()">
            <option [ngValue]='s' *ngFor='let s of allCompetitions'>{{s.name}}</option>
        </select>
    </div>
</form>

<div *ngIf="selectedCompetition != undefined && selectedCompetition.competitionFormat == 'finals'">
<h3>Format rezultata: {{selectedCompetition.resultFormat}}</h3>
<h3>Broj pokušaja: {{selectedCompetition.tryCount}}</h3>
</div>

<table *ngIf="selectedCompetition != undefined && selectedCompetition.competitionFormat == 'finals'" class="table table-striped">
    <thead class="table table-dark">
        <tr>
            <td>Takmičar</td>
            <td *ngFor="let item of createRange(selectedCompetition.tryCount); let i = index;">
                Pokušaj {{i + 1}}
            </td>
            <td>Novi rezultat</td>
            <td>Zabeleži rezultat</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of selectedCompetition.pickedParticipants; let i = index;">
            <td>
                {{c}}
            </td>
            <td>
                ?
            </td>
            <td>
                ?
            </td>
            <td>
                ?
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <button class="btn btn-outline-primary" (click)="addScore(i)">Dodaj rezultat</button>
            </td>
        </tr>
    </tbody>
</table>