<h1>Prijava takmicara</h1>

<form>
    <table>
        <tr>
            <td>Sport:</td>
            <td>
                <select name='sport-select' [(ngModel)]="selectedSport" (change)="onSportSelectChange()">
                    <option [ngValue]='s' *ngFor='let s of allSports'>{{s}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Disciplina:
            </td>
            <td>
                <select name='discipline-select' [(ngModel)]="selectedDiscipline" [disabled]="relatedDisciplines.length <= 1">
                    <option [ngValue]='d' *ngFor='let d of relatedDisciplines'>{{d}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td>
                <input type="text" name="first-name-input" [(ngModel)]="selectedFirstName">
            </td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td>
                <input type="text" name='last-name-input' [(ngModel)]="selectedLastName">
            </td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td>
                <input type="radio" name="gender-select" [value]='"M"' [(ngModel)]='selectedGender'> M
                <input type="radio" name="gender-select" [value]='"F"' [(ngModel)]='selectedGender'> Z
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="addPariticipant()">Prijavi takmicara</button>
            </td>
        </tr>
    </table>
</form>

<div>
Ucitaj iz fajla
<form [formGroup] = "formGroup" (ngSubmit)="onSubmit()">
    <input type="file" (change)="onFileChange($event)" />
    <input type="submit" value="Ubaci igrace" />
</form>

<form>
    <table>
        <tr>
            <td>
                Putanja do fajla:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
    </table>
</form>
</div>

<h1>Povlacenje prijave takmicara</h1>

<form>
    <table>
        <tr>
            <td>Sport:</td>
        </tr>
        <tr>
            <td>Disciplina:</td>
        </tr>
        <tr>
            <td>Ime:</td>
        </tr>
        <tr>
            <td>Prezime:</td>
        </tr>
        <tr>
            <td>Pol:</td>
        </tr>
    </table>
</form>