<h1>Prijava takmičara</h1>

<form>
    <div class="form-group">
        <label for="sport-select">Sport</label>
        <select class="form-control" name='sport-select' [(ngModel)]="selectedSport" (change)="onSportSelectChange()">
            <option [ngValue]='s' *ngFor='let s of allSports'>{{s}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="discipline-select">Disciplina</label>
        <select class="form-control" name='discipline-select' [(ngModel)]="selectedDiscipline" [disabled]="relatedDisciplines.length <= 1">
            <option [ngValue]='d' *ngFor='let d of relatedDisciplines'>{{d}}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="first-name">Ime</label>
      <input type="text" class="form-control" name='first-name' [(ngModel)]='selectedFirstName'>
    </div>
    <div class="form-group">
        <label for="last-name">Prezime</label>
        <input type="text" class="form-control" name='last-name' [(ngModel)]='selectedLastName'>
    </div>
    <div class="form-group">
        <label for="gender-radio">Pol</label>
        <div class="form-check" name="gender-radio">
            <input class="form-check-input" type="radio" name="gender" [value]='"M"' [(ngModel)]='selectedGender'>
            <label class="form-check-label" for="exampleRadios1">
            Muški
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" [value]='"M"' [(ngModel)]='selectedGender'>
            <label class="form-check-label" for="exampleRadios2">
            Ženski
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="addPariticipant()">Prijavi takmičara</button>
    </div>
  </form>


<h1>Učitaj iz fajla</h1>
<form [formGroup] = "formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="file-select">Izaberi fajl</label>
        <input type="file" class="form-control" name='file-select' (change)="onFileChange($event)">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="addPariticipantFromFile()">Prijavi takimičare</button>
    </div>
</form>


<!--
<h1>Povlacenje prijave takmicara</h1>

<form>
    <table>
        <tr>
            <td>Sport:</td>
        </tr>
        <tr>
            <td>Disciplina:</td>
        </tr>
        <tr>
            <td>Ime:</td>
        </tr>
        <tr>
            <td>Prezime:</td>
        </tr>
        <tr>
            <td>Pol:</td>
        </tr>
    </table>
</form>
-->