<h1>Prijava takmicara</h1>

<form>
    <table>
        <tr>
            <td>Sport:</td>
        </tr>
        <tr>
            <td>Disciplina:</td>
        </tr>
        <tr>
            <td>Ime:</td>
        </tr>
        <tr>
            <td>Prezime:</td>
        </tr>
        <tr>
            <td>Pol:</td>
        </tr>
        <tr>
            <td>
                <button>Prijavi takmicara</button>
            </td>
        </tr>
    </table>
</form>

<div>
Ucitaj iz fajla
<form>
    <table>
        <tr>
            <td>
                Putanja do fajla:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
    </table>
</form>
</div>

<h1>Povlacenje prijave takmicara</h1>

<form>
    <table>
        <tr>
            <td>Sport:</td>
        </tr>
        <tr>
            <td>Disciplina:</td>
        </tr>
        <tr>
            <td>Ime:</td>
        </tr>
        <tr>
            <td>Prezime:</td>
        </tr>
        <tr>
            <td>Pol:</td>
        </tr>
    </table>
</form>