<h1>Promeni lozinku</h1>

<form>
    <table>
        <tr>
            <td>
                Trenutna lozinka:
            </td>
            <td>
                <input type="password">
            </td>
        </tr>
        <tr>
            <td>
                Nova lozinka:
            </td>
            <td>
                <input type="password">
            </td>
        </tr>
        <tr>
            <td>
                Ponovi novu lozinku:
            </td>
            <td>
                <input type="password">
            </td>
        </tr>
        <tr>
            <td>
                <button>Promeni lozinku</button>
            </td>
        </tr>
    </table>
</form>