<h1>Promeni lozinku</h1>

<form>
    <div class="form-group">
      <label for="old-password">Trenutna lozinka</label>
      <input type="text" class="form-control" name='old-password' [(ngModel)]='oldPassword'>
    </div>
    <div class="form-group">
        <label for="new-password">Nova lozinka</label>
        <input type="password" class="form-control" name='new-password' [(ngModel)]='newPassword'>
    </div>
    <div class="form-group">
        <label for="repeat-new-password">Ponovi novu lozinku</label>
        <input type="password" class="form-control" name='repeat-new-password' [(ngModel)]='repeatNewPassword'>
    </div>
    <button type="submit" class="btn btn-primary" (click)="changePassword()">Promeni lozinku</button><br/>
</form>