<h1>Upravljanje nalozima</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Korisničko ime</td>
            <td>Zemlja</td>
            <td>Ime</td>
            <td>Prezime</td>
            <td>Email</td>
            <td>Tip naloga</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rr of allRegistrationRequests">
            <td>{{rr.username}}</td>
            <td>{{rr.country}}</td>
            <td>{{rr.firstName}}</td>
            <td>{{rr.lastName}}</td>
            <td>{{rr.email}}</td>
            <td>{{rr.type}}</td>
            <td><button class="btn btn-success" (click)="accept(rr.username)">Odobri</button></td>
            <td><button class="btn btn-danger" (click)="decline(rr.username)">Obriši</button></td>
        </tr>
    </tbody>
</table>