<h1>Prijavi se</h1>

<form>
    <div class="form-group">
      <label for="first-last-name">Korisnicko ime</label>
      <input type="text" class="form-control" name='first-last-name' [(ngModel)]='username'>
    </div>
    <div class="form-group">
        <label for="password">Lozinka</label>
        <input type="password" class="form-control" name='password' [(ngModel)]='password'>
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Prijavi se</button><br/>
    <small id="emailHelp" class="form-text text-muted">Nemas nalog? <a routerLink="/register">Registruj se.</a></small>
</form>
