<div>
    <h1>Prijavi se</h1>

    <form>
        <table>
            <tr>
                <td>Korisnicko ime: </td>
                <td><input type="text" name="username" [(ngModel)]='username'></td>
            </tr>
            <tr>
                <td>Lozinka: </td>
                <td><input type="password" name="password" [(ngModel)]='password'></td>
            </tr>
            <tr>
                <td>
                    <button (click)='login()'>Prijavi se</button>
                </td>
            </tr>
            <tr>
                <td>
                    Nemas nalog? <a routerLink="/register">Registruj se.</a>
                </td>
            </tr>
        </table>
    </form>
</div>
