<form>
    <h1>Dodaj takmičenje</h1>
    <div class="form-group">
        <label for="name">Naziv takmičenja</label>
        <input type="text" class="form-control" name='comp-name' [(ngModel)]="selectedName">
    </div>
    <div class="form-group">
        <label for="sport-select">Sport</label>
        <select class="form-control" name='sport-select' [(ngModel)]="selectedSport" (change)="onSportSelectChange()">
            <option [ngValue]='s' *ngFor='let s of allSports'>{{s}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="discipline-select">Disciplina</label>
        <select class="form-control" name='discipline-select' [(ngModel)]="selectedDiscipline" [disabled]="relatedDisciplines.length <= 1">
            <option [ngValue]='d' *ngFor='let d of relatedDisciplines'>{{d}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="gender-radio">Pol</label>
        <div class="form-check" name="gender-radio">
            <input class="form-check-input" type="radio" name="gender" [value]='"M"' [(ngModel)]='selectedGender'>
            <label class="form-check-label" for="exampleRadios1">
            Muški
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" [value]='"F"' [(ngModel)]='selectedGender'>
            <label class="form-check-label" for="exampleRadios2">
            Ženski
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="start-date">Početak takmičenja</label>
        <input type="text" class="form-control" name='start-date' [(ngModel)]="selectedStartDateStr">
    </div>
    <div class="form-group">
        <label for="end-date">Kraj takmičenja</label>
        <input type="text" class="form-control" name='end-date' [(ngModel)]="selectedEndDateStr">
    </div>
    <div class="form-group">
        <label for="location">Lokacija</label>
        <input type="text" class="form-control" name='location' [(ngModel)]="selectedLocation">
    </div>
    <div class="form-group">
        <label for="delegat-select">Delegat</label>
        <select class="form-control" name='delegat-select' [(ngModel)]="selectedDelegat">
            <option [ngValue]='d' *ngFor='let d of allDelegats'>{{d.username}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="format-select">Format takmičenja</label>
        <select class="form-control" name='format-select' [(ngModel)]="selectedCompetitionFormat">
            <option [ngValue]='"group"'>Grupa pa kup</option>
            <option [ngValue]='"cup"'>Kup</option>
            <option [ngValue]='"finals"'>Individualno finale</option>
        </select>
    </div>
    <div *ngIf="selectedCompetitionFormat == 'group' || selectedCompetitionFormat == 'cup'" class="form-group">
        <label for="max-score">Maksimum poena</label>
        <input type="number" class="form-control" name='max-score' [(ngModel)]="selectedMaxPoints">
    </div>
    <div *ngIf="selectedCompetitionFormat == 'finals'" class="form-group">
        <label for="try-count">Broj pokušaja</label>
        <input type="number" class="form-control" name='try-count' [(ngModel)]="selectedTryCount">
    </div>
    <div class="form-group">
        <label for="format-select">Format rezultata</label>
        <select class="form-control" name='format-select' [(ngModel)]="selectedResultFormat">
            <option [ngValue]='"P1_T1:P2_T2"'>P1_T1:P2_T2</option>
            <option [ngValue]='"SS,TT"'>SS,TT</option>
            <option [ngValue]='"MM,SS,TT"'>MM,SS,TT</option>
            <option [ngValue]='"M,CM"'>M,CM</option>
            <option [ngValue]='"MM,CM"'>MM,CM</option>
            <option [ngValue]='"HH:MM:CC"'>HH:MM:CC</option>
            <option [ngValue]='"P1_I1:P2_I2"'>P1_I1:P2_I2</option>
        </select>
    </div>
    <div class="form-group">
        <label for="participant-select">Takmičari</label>
        <select class="form-control" name='participant-select' [(ngModel)]="selectedValidParticipant">
            <option [ngValue]='vp' *ngFor='let vp of validPariticipants'>{{vp}}</option>
        </select>
    </div>

    <table *ngIf="pickedParticipants.length > 0" class="table table-striped">
        <thead class="table table-dark">
            <tr>
                <td>Ime</td>
                <td>Zemlja</td>
                <td>Nosilac</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pp of pickedParticipants; let i = index;">
                <td> {{pp.name}} </td>
                <td> {{pp.country}} </td>
                <td> {{i}} </td>
                <td>
                    <button class="btn btn-dange">Ukloni</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="createCompetition()">Napravi takmičenje</button>
    </div>
</form>