<nav>
  <ul>
    <li>
      <a routerLink='/countries'>Zemlje</a>
    </li>
    <li>
      <a routerLink='/participants'>Takmicari</a>
    </li>
    <li>
      <a routerLink='/login'>Prijavi se</a>
    </li>

    <li *ngIf="loggedUser.type === 'org'">
      <a routerLink='/'>Organizator</a>
    </li>

    <li *ngIf="loggedUser.type === 'org'">
      <a routerLink='/org-edit-sports'>Upravljanje sportovima</a>
    </li>

    <li *ngIf="loggedUser.type === 'delegat'">
      <a routerLink='/'>Organizator</a>
    </li>

    <li *ngIf="loggedUser.type === 'lead'">
      <a routerLink='/'>Organizator</a>
    </li>

    <li *ngIf="loggedUser != null">
      <a routerLink='/' (click)="logout()">Odjavi se</a>
    </li>
  </ul>
</nav>