<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerLink='' class="navbar-brand" href="#">Olimpijada ETF</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a routerLink='/countries' class="nav-link">Zemlje</a>
      </li>
      <li class="nav-item">
        <a routerLink='/medals' class="nav-link">Medalje</a>
      </li>
      <li class="nav-item">
        <a routerLink='/participants' class="nav-link">Takmičari</a>
      </li>
      <li *ngIf="loggedUser == null" class="nav-item">
        <a routerLink='/login' class="nav-link">Prijavi se</a>
      </li>

      <li *ngIf="loggedUser != null" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Moj profil
        </a>
        <ul *ngIf="loggedUser.type == 'org'" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item nav-link" routerLink='/org-edit-sports'>Upravljanje sportovima</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/org-edit-competitions'>Upravljanje takmičenjima</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/org-edit-users'>Upravljanje nalozima</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/org-record-overview'>Pregled rekorda</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/change-password'>Promeni lozinku</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/' (click)="logout()">Odjavi se</a></li>
        </ul>
        <ul *ngIf="loggedUser.type == 'delegat'" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item nav-link" routerLink='/change-password'>Promeni lozinku</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/' (click)="logout()">Odjavi se</a></li>
        </ul>
        <ul *ngIf="loggedUser.type == 'lead'" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item nav-link" routerLink='/lead-register-competitors'>Prijavi takmičare</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/lead-competitors-overview'>Pregled takmičara</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/change-password'>Promeni lozinku</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/' (click)="logout()">Odjavi se</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>