
<h1>Pregled rekorda</h1>

<table class="table table-striped">
    <thead class="table table-dark">
        <tr>
            <td>Sport</td>
            <td>Disciplina</td>
            <td>Mesto</td>
            <td>Godina</td>
            <td>Takmičar</td>
            <td>Rekord</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of allRecords">
            <td>{{r.sport}}</td>
            <td>{{r.discipline}}</td>
            <td>{{r.place}}</td>
            <td>{{r.year}}</td>
            <td>{{r.recordHolder}}</td>
            <td>{{r.record}}</td>
        </tr>
    </tbody>
</table>


<!--
<h1>Dodaj rekord</h1>
<form>
    <table>
        <tr>
            <td>
                Sport:
            </td>
            <td>
                <select></select>
            </td>
        </tr>
        <tr>
            <td>
                Disciplina:
            </td>
            <td>
                <select></select>
            </td>
        </tr>
        <tr>
            <td>
                Mesto:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                Godina:
            </td>
            <td>
                <input type="number">
            </td>
        </tr>
        <tr>
            <td>
                Takmičar:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                Record:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
    </table>
</form>
-->