<div>
    <h1>Registruj se</h1>

    <form>
        <table>
            <tr>
                <td>Korisnicko ime: </td>
                <td><input type="text" name="username" [(ngModel)]="selectedUsername"></td>
            </tr>
            <tr>
                <td>Lozinka: </td>
                <td><input type="password" name="password" [(ngModel)]="selectedPassword"></td>
            </tr>
            <tr>
                <td>Potvrda lozinke: </td>
                <td><input type="password" name="repeat-password" [(ngModel)]="selectedRepeatedPassword"></td>
            </tr>
            <tr>
                <td>Ime: </td>
                <td><input type="text" name="first-name" [(ngModel)]="selectedFirstName"></td>
            </tr>
            <tr>
                <td>Prezime: </td>
                <td><input type="text" name="last-name" [(ngModel)]="selectedLastName"></td>
            </tr>
            <tr>
                <td>Zemlja: </td>
                <td>
                    <select name='country-select' [(ngModel)]="selectedCountry">
                        <option *ngFor='let country of allCountries' [ngValue]='country'>
                            {{ country.name }}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="text" name="email" [(ngModel)]="selectedEmail"></td>
            </tr>
            <tr>
                <td>Tip korisnika: </td>
                <td>
                    <select name='type-select' [(ngModel)]="selectedType">
                        <option [ngValue]='"delegat"'>Delegat</option>
                        <option [ngValue]='"lead"'>Vodja nacionalne delegacije</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button (click)="register()">Registruj se</button>
                </td>
            </tr>
        </table>
    </form>
</div>
